.main {
  width: 800px;
  margin: 20px auto;
  border: 2px solid grey;
  border-radius: 5px;
}

header h1 {
  text-align: center;
}

footer {
  border-top: 2px solid grey;
}

footer p {
  text-align: center;
}

article {
  display: flex;
  justify-content: center;

  border-top: 1px dashed grey;
  padding: 10px 20px;
}

article .left {
  margin-right: 15px;
}

article img {
  width: 100px;
  height: 100px;
}

article h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

article .date {
  color: grey;
}
